body {
    background-image: url(/static/images/fondo.png);
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    width: 100%;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 12px;
}

.navbar-toggler {
    background:  rgb(164, 166, 168);
}

nav ul li {
    margin: 3px 3vw;
}

nav ul li a {
    font-size: 18px !important;
}

h1 {
    margin: 10% ;
    text-align: center;
}

.workSpace {
    width: 100%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 21px;
    backdrop-filter: blur(9px);
    font-size: 1.2rem;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.workSpace input {
    width: 9vw;
    min-width: 90px;
    border: none;
    outline: none;
    border-radius: 9px;
}

.workSpace label {
    text-align: left;
    min-width: 186px;
}

.workSpace #calc {
    font-size: 18px;
    min-width: fit-content;

    cursor: pointer;
    background-color: rgb(155, 162, 168);
    padding: 9px;
    margin: 1vh;
    border-radius: 40px;
    border: none;
    outline: none;
    color: black;
    font-weight: bold;
}